html, body {
  height: 100%;
}

body {
  font-family: 'Ubuntu Mono', monospace;
  margin: 0px;
  background-color: #f2f2f2;
  text-align: center;
}

.navBar {
  z-index: 1048576;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  /*e nelkul nem allitja be a hatterszint*/
  overflow: hidden;
  background-color: #4286f4;
}

.navBar a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  /*e nelkul nem mukodott a padding-top es padding-bottom*/
  float: left;
  padding: 12px 20px;
}

.navBar .current {
  color: #4286f4;
  background-color: black;
}

.navBar .about {
  float: right;
}

.navBar a:hover {
  color: #4286f4;
  background-color: black;
}

.foot {
  overflow: hidden;
  background-color: #404244;
  width: 100%;
  position: relative;
  bottom: 0px;
  left: 0px;
}

.foot p, .foot a{                  /*at kell ilyenre alakitani!!!!*/
  color: black;
  font-size: 12px;
  float: right;
  padding: 30px 20px;
  margin: 0px;
}

.foot a{
  float: left;
}

.alertBox {
  z-index: 1048576;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  background-color: #4286f4;
  text-align: center;
}

.alertBox span {
  color: black;
  /*https://stackoverflow.com/questions/35592168/padding-not-working-in-span-tag*/
  display: inline-block;
  padding: 12px 20px;
}

.alertBox #ok {
  float: right;
  cursor: pointer;
  text-decoration: underline;
}

.alertBox #ok:hover {
  color: #4286f4;
  background-color: black;
}

.torzs {
  display: inline-block;
  width: 750px;
  min-height: 100%;
  color: black;
  text-align: left;
}

.torzs a {
  color: black;
  text-decoration: underline;
}

.torzs li {
  padding-top: 5px;
}

.torzs .cim {
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
}
